<div class="container-fluid">
    <div class="flights-wrapper">
        <div class="search-flights">
            <div class="user-options">
                <div class="type-of-trip">
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            round trip
                        </a>
                        <div class="dropdown-menu btn-dropdown" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">One Way</a>
                            <a class="dropdown-item" href="#">Multi City</a>
                        </div>
                    </div>
                    <div class="passengers">
                        <div class="dropdown show">
                            <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 passenger
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">One Way</a>
                                <a class="dropdown-item" href="#">Multi City</a>
                            </div>
                        </div>
                    </div>
                    <div class="flight-type">
                        <div class="dropdown show">
                            <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Economy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Business</a>
                                <a class="dropdown-item" href="#">First Class</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flights-adjustment">
                <div class="direction">
                    <input [(ngModel)]="whereFrom" (ngModelChange)="filterLocalization()" type="text"
                        placeholder="Where from?">
                    <!-- DEPARTURE -->
                    <ul [class]="(cityFlag) ? 'cityName cityNameShow' : 'cityNameHide' ">
                        <li *ngFor="let item of filteredLocalization">
                            <i class="fa fa-plane"></i>
                            {{ item.Name }} - {{ item.Code }}
                            <ul *ngIf=" whereFrom.length > 2 &&  allPlacesList[item.Name]">
                                <!-- <div>{{ getlistPlaces(item.Name) }}</div> -->
                                <li *ngFor="let place of allPlacesList[item.Name].Places" (click)="setValue(place)">
                                    {{ place.PlaceName }}</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="go-back">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <input [(ngModel)]="whereTo" (ngModelChange)="filterLocalizationTo()" type="text"
                        placeholder="Where to?">
                    <!-- RETURN GLIGHT -->
                    <ul [class]="(cityFlagTo) ? 'cityNameTo cityNameShow' : 'cityNameHide' ">
                        <li *ngFor="let item of filteredLocalizationTo">
                            <i class="fa fa-plane"></i>
                            {{ item.Name }} - {{ item.Code }}
                            <ul *ngIf=" whereFrom.length > 2 &&  allPlacesList[item.Name]">
                                <!-- <div>{{ getlistPlaces(item.Name) }}</div> -->
                                <li *ngFor="let place of allPlacesList[item.Name].Places" (click)="setValueTo(place)">
                                    {{ place.PlaceName }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="flight-calendar">
                    <input [(ngModel)]="depart" type="text" placeholder="Depart" (click)="departCalendar();">
                    <div class="depart-calendar" *ngIf="departFlag">
                        <ejs-calendar [isMultiSelection]='multiselect' id=calendar [value]='value' [min]='minDate'
                            [max]='maxDate' (click)="addDepartDate($event)">
                        </ejs-calendar>
                    </div>

                    <input [(ngModel)]="return" type="text" placeholder="Return" (click)="returnCalendar();">
                    <div class="returnCalendar" *ngIf="returnFlag">
                        <ejs-calendar [isMultiSelection]='multiselect' id=calendar [value]='value' [min]='minDate'
                            [max]='maxDate' (click)="addReturnDate($event)">
                        </ejs-calendar>
                    </div>
                </div>
            </div>
            <div class="search">
                <button (click)="browseData()" type="button" class="btn btn-primary">Search
                    {{allPlacesList.Places | json}}</button>
            </div>
            <div class="output" *ngIf="outputFlag">
                <!-- OUTPUT TABLE -->
                <h2 style="text-align: center">Departure</h2>
                <div class="row">
                    <table class="table  col-md-7">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Airport</th>
                                <th scope="col">ShortCode</th>
                                <th scope="col">CityName</th>
                                <th scope="col">CountryName</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of flightData.departingFlight.Places; let i = index;">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ flight.Name }}</td>
                                <td>{{ flight.IataCode }}</td>
                                <td>{{ flight.CityName }}</td>
                                <td>{{ flight.CountryName }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table f col-md-2">
                        <thead>
                            <tr>
                                <th scope="col">AviaName</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of flightData.Carriers">
                                <td>{{ flight.Name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table  col-md-3">
                        <thead>
                            <tr>
                                <th scope="col">MinPrice</th>
                                <th scope="col">DepartTime</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of flightData.Quotes">
                                <td>{{ flight.MinPrice }}$</td>
                                <td>{{ flight.OutboundLeg.DepartureDate.substring(0, 10) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button>OK</button>
                </div>
                <!-- END OUTPUT TABLE -->
            </div>
            <div class="output-return" *ngIf="outputFlag">
                <h2 style="text-align: center">Returning</h2>
                <div class="row">
                    <table class="table  col-md-7">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Airport</th>
                                <th scope="col">ShortCode</th>
                                <th scope="col">CityName</th>
                                <th scope="col">CountryName</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of flightData.returningFlight.Places; let i = index;">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ flight.Name }}</td>
                                <td>{{ flight.IataCode }}</td>
                                <td>{{ flight.CityName }}</td>
                                <td>{{ flight.CountryName }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table f col-md-2">
                        <thead>
                            <tr>
                                <th scope="col">AviaName</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of flightData.Carriers">
                                <td>{{ flight.Name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table  col-md-3">
                        <thead>
                            <tr>
                                <th scope="col">MinPrice</th>
                                <th scope="col">DepartTime</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of flightData.Quotes">
                                <td>{{ flight.MinPrice }}$</td>
                                <td>{{ flight.OutboundLeg.DepartureDate.substring(0, 10) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button>OK</button>
                </div>
            </div>
        </div>

    </div>
</div>