<div class="container-fluid">
    <div class="flights-wrapper">
        <div class="search-flights">
            <div class="user-options">
                <div class="type-of-trip">
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            round trip
                        </a>
                        <div class="dropdown-menu btn-dropdown" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">One Way</a>
                            <a class="dropdown-item" href="#">Multi City</a>
                        </div>
                    </div>
                    <div class="passengers">
                        <div class="dropdown show">
                            <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 passenger
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">One Way</a>
                                <a class="dropdown-item" href="#">Multi City</a>
                            </div>
                        </div>
                    </div>
                    <div class="flight-type">
                        <div class="dropdown show">
                            <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Economy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Business</a>
                                <a class="dropdown-item" href="#">First Class</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flights-adjustment">
                <div class="direction">
                    <input (ngModelChange)="filterLocalization()" [(ngModel)]="whereFrom" type="text"
                        placeholder="Where from?">
                    <!-- <div [class]="(cityFlag) ? 'cityNameShow' : 'cityNameHide' "> -->
                        <ul *ngFor="let item of filteredLocalization" [class]="(cityFlag) ? 'cityNameHide' : 'cityName cityNameShow' ">
                            <!-- <li [class]="(cityFlag) ? 'cityName cityNameShow' : 'cityNameHide' " (click)="setValue($event, inputVal)"> -->
                            <li (click)="setValue($event, inputVal)">
                                <i class="fa fa-plane"></i>
                                {{ item.Name }} - {{ item.Code }}
                            </li>
                        </ul>
                    <!-- </div> -->
                    <div class="go-back">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <input (ngModelChange)="filterLocalizationTo()" [(ngModel)]="whereTo" type="text"
                        placeholder="Where to?">
                    <div *ngFor="let item of filteredLocalizationTo">
                        <div *ngIf="whereTo">

                            {{ item.Name }} - {{ item.Code }}
                        </div>
                    </div>
                </div>
                <div class="flight-calendar">
                    <input type="text">
                    <input type="text">
                </div>
            </div>
            <div class="search">
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>