<div class="container-fluid">
    <div class="flights-wrapper">
        <div class="search-flights">
            <div class="user-options">
                <div class="type-of-trip">
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            round trip
                        </a>
                        <div class="dropdown-menu btn-dropdown" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">One Way</a>
                            <a class="dropdown-item" href="#">Multi City</a>
                        </div>
                    </div>
                    <div class="passengers">
                        <div class="dropdown show">
                            <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1 passenger
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">One Way</a>
                                <a class="dropdown-item" href="#">Multi City</a>
                            </div>
                        </div>
                    </div>
                    <div class="flight-type">
                        <div class="dropdown show">
                            <a class="btn dropdown-toggle btn-dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Economy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Business</a>
                                <a class="dropdown-item" href="#">First Class</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flights-adjustment">
                <div class="direction">
                    <input [(ngModel)]="whereFrom" (ngModelChange)="filterLocalization()" type="text"
                        placeholder="Where from?">
                    <ul [class]="(cityFlag) ? 'cityName cityNameShow' : 'cityNameHide' ">
                        <!-- <li [class]="(cityFlag) ? 'cityName cityNameShow' : 'cityNameHide' " (click)="setValue($event, inputVal)"> -->
                        <li *ngFor="let item of filteredLocalization" (click)="setValue(item)">
                            <i class="fa fa-plane"></i>
                            {{ item.Name }} - {{ item.Code }}
                        </li>
                    </ul>
                    <div class="go-back">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <input [(ngModel)]="whereTo" (ngModelChange)="filterLocalizationTo()" type="text"
                        placeholder="Where to?" >
                    <ul [class]="(cityFlagTo) ? 'cityNameTo cityNameShow' : 'cityNameHide' ">
                        <li *ngFor="let item of filteredLocalizationTo" (click)="setValueTo(item)">
                            <i class="fa fa-plane"></i>
                            {{ item.Name }} - {{ item.Code }}
                        </li>
                    </ul>
                </div>
                <div class="flight-calendar">
                    <input [(ngModel)]="depart" type="text" placeholder="Depart" (click)="departCalendar();">
                    <div class="depart-calendar" *ngIf="departFlag">
                        <ejs-calendar [isMultiSelection]='multiselect' id=calendar [value]='value' [min]='minDate' [max]='maxDate' (click)="addDepartDate($event)">
                        </ejs-calendar>
                    </div>

                    <input [(ngModel)]="return" type="text" placeholder="Return" (click)="returnCalendar();">
                    <div class="returnCalendar" *ngIf="returnFlag">
                        <ejs-calendar [isMultiSelection]='multiselect' id=calendar [value]='value' [min]='minDate' [max]='maxDate' (click)="addReturnDate($event)">
                        </ejs-calendar>
                    </div>
                </div>
            </div>
            <div class="search">
                <button (click)="browseData()" type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
        <div class="output">
            <ul class="flight-list">
                <li class="flight" *ngFor="let flight of flightData.Places">
                    <div>{{ flight.Name }} test</div>
                </li>
            </ul>
        </div>
    </div>
</div>