<div class="container-fluid main-container">
    <!-- HEADER -->
    <app-header></app-header>
    <!-- Carousel -->
    <app-carousel></app-carousel>
    <br>
    <!-- <app-carousel-test></app-carousel-test> -->

    <!-- CARDS -->
    <div class="container">
        <!-- <div class="row"> -->
            <div class="card-wrapper">
                <app-card *ngFor="let card of appState.products; let i = index;"></app-card>
            </div>
        <!-- </div> -->
    </div>

    <!-- <app-card></app-card> -->

    <!-- FOOTER -->
    <app-footer></app-footer>
</div>